body {padding: 20px;}
h1 {
  font-size: 16pt; padding: 0; margin: 0;
  margin-bottom: 10px;
}

span.warning {color: #888;}

/*.json #url {width: 100px;}*/

.areas {position: relative; width: 90%; height: 15em;}

.json textarea,
.csv textarea,
.json pre {
  width: 100%; height: 100%;
  position: absolute;
}

.json .areas button {
  position: absolute; right: 10px; top: 10px;
  z-index: 9999;
}

/* show empty textarea by default */
.json textarea {display: block;}
.json pre {display: none;}
.json .areas button {display: none;}


.csv {
  color: black;
  margin-top: 30px;
}

.csv.nothing,
.csv.nothing a {color: #aaa;}
.csv textarea {background-color: #f5f5f5; color: #888;}

footer {
  margin-top: 30px;
}
footer p {
  display: inline-block;
  line-height: 25px;
  border-top: 1px solid #888;
  padding-top: 5px;
}